#ignore everything except the InkCannon directory and the git-related files
/*
!.gitignore
!LICENSE
!README.md
!InkCannon/

#ignore everything inside InkCannon except bin and src
InkCannon/
!InkCannon/bin/
!InkCannon/src/

